@scope (.popover-page) {
  :scope {
    margin-block-end: var(--spacing-medium);
  }

  h2 {
    font-size: 2rem;
  }

  button {
    anchor-name: --menu-button;
  }

  ul {
    position-anchor: --menu-button;
    position-area: x-end;

    margin: unset;
    padding-block: var(--spacing-small);
    padding-inline: 0;
    left: var(--spacing-small);
    gap: var(--spacing-small);
    overflow: clip;

    /* &::backdrop {
      filter: blur(5px);
    } */

    &:popover-open {
      display: grid;
    }
  }

  li {
    padding-inline: var(--spacing-small);
  }
}
