:root {
  --primary-colour: oklch(0.22 0.01 0);
  --secondary-colour: oklch(0.9 0.01 106.43);
  --tertiary-colour: oklch(0.8054 0.1677 64.59);

  --spacing-small: 0.75rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;

  --transition-duration: 0.5s;
  @media (prefers-reduced-motion: reduce) {
    --transition-duration: 0s;
  }
}

body {
  min-height: 100dvh;
  color: var(--secondary-colour);
  background: var(--primary-colour);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  container-name: body;
  container-type: inline-size;
}

main {
  display: flow-root; /*  contain child margins */
  inline-size: min(100ch, 100%);
  margin-inline: auto;
  padding-inline: var(--spacing-medium);
}

a {
  color: inherit;
  text-decoration: none;
}
