:root {
  --primary-colour: oklch(0.22 0.01 0);
  --secondary-colour: oklch(0.9 0.01 106.43);
  --tertiary-colour: oklch(0.8054 0.1677 64.59);

  --spacing-small: 0.75rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
}

body {
  color: var(--secondary-colour);
  background: var(--primary-colour);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flow-root; /*  contain child margins */
  inline-size: min(100ch, 100%);
  margin-inline: auto;
  padding-inline: var(--spacing-medium);
}

a {
  color: inherit;
  text-decoration: none;
}
