@scope (.navbar) {
  :scope {
    --border-colour: var(--secondary-colour);

    display: flex; /*  contain child margins */
    margin-inline: calc(-1 * var(--spacing-medium));
    flex-direction: column;
    border-block: 1px solid var(--border-colour);

    @container body (width > 24rem) {
      padding-inline: var(--spacing-medium);
      flex-direction: row;
      justify-content: center;
    }
  }

  .link {
    block-size: calc-size(fit-content, size * 2);
    padding-inline: var(--spacing-medium);
    flex: none;
    align-content: center;
    overflow-wrap: break-word;

    /* a link after a link which itself is directly followed by a link */
    /* & + :has(+ .link) {
      border-block-start: 1px solid var(--border-colour);
    } */

    & + .link {
      border-block-start: 1px solid var(--border-colour);
    }

    @container body (width > 24rem) {
      inline-size: calc-size(fit-content, size * 2);
      flex-shrink: 1;
      text-align: center;
      transition: block-size ease var(--transition-duration);

      & {
        border-inline-start: 1px solid var(--border-colour);
      }

      & + .link {
        border-block-start: none;
      }

      /* a link that is not followed by another link */
      &:not(:has(~ .link)) {
        border-inline-end: 1px solid var(--border-colour);
      }

      :scope:has(&:hover, &:focus-visible) & {
        block-size: calc-size(fit-content, size * 3);
      }
    }

    &:where(:hover, :focus-visible, [aria-current="page"]) {
      background: var(--tertiary-colour);
      color: var(--primary-colour);
    }

    &:where(:hover, :focus-visible) {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-style: solid;
      text-decoration-color: var(--border-colour);
      text-underline-offset: 4px;
    }
  }
}
