@scope (.navbar) {
  :scope {
    --border-colour: var(--secondary-colour);

    display: flex; /*  contain child margins */
    margin-inline: calc(-1 * var(--spacing-medium));
    flex-direction: column;
    gap: 1px;
    border-block: 1px solid var(--border-colour);
    overflow: clip;

    /* https://developer.chrome.com/blog/gap-decorations-stable */
    row-rule-width: 1px;
    row-rule-style: solid;
    row-rule-color: var(--border-colour);
    row-rule-inset: 0;
    row-rule-visibility-items: all;

    @container body (width > 36rem) {
      row-rule: none;

      column-rule-width: 1px;
      column-rule-style: solid;
      column-rule-color: var(--border-colour);
      column-rule-inset: 0;
      column-rule-visibility-items: all;
    }

    @container body (width > 36rem) {
      padding-inline: var(--spacing-medium);
      flex-direction: row;
      justify-content: center;
    }
  }

  .link {
    padding-block: var(--spacing-small);
    padding-inline: var(--spacing-small);
    block-size: auto;
    block-size: calc-size(fit-content, size * 1);
    flex: none;
    align-content: center;
    overflow-wrap: break-word;

    /* a link after a link which itself is directly followed by a link */
    /* & + :has(+ .link) {
      border-block-start: 1px solid var(--border-colour);
    } */

    /* mobile */
    /* & + .link {
      border-block-start: 1px solid var(--border-colour);
    } */

    @container body (width > 36rem) {
      padding-inline: var(--spacing-large);
      flex-shrink: 1;
      text-align: center;
      transition: block-size ease var(--transition-duration);

      /* & {
        border-inline-start: 1px solid var(--border-colour);

        & + .link {
          border-block-start: none;
        }
      } */

      /* a link that is not preceeded by another link */
      &:not(.link ~ &) {
        border-inline-start: 1px solid var(--border-colour);
      }

      /* a link that is not followed by another link */
      &:not(:has(~ .link)) {
        border-inline-end: 1px solid var(--border-colour);
      }

      /* hovered/focused element and all its siblings at the same time */
      :scope:has(&:hover, &:focus-visible) & {
        block-size: auto;
        block-size: calc-size(fit-content, size * 1.25);
      }
    }

    &:where(:hover, :focus-visible, [aria-current="page"]) {
      background: var(--tertiary-colour);
      color: var(--primary-colour);
    }

    &:where(:hover, :focus-visible) {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-style: solid;
      text-decoration-color: var(--border-colour);
      text-underline-offset: 4px;
    }
  }
}
