@scope (.signup-form) {
  :scope {
  }

  .field-wrapper {
    display: grid;
    margin-block-end: var(--spacing-small);
    grid-template-columns: minmax(auto, 50%) 1fr;
    gap: var(--spacing-small);
    align-items: center;

    .field-error {
      margin: 0;
      grid-column: 1/-1;
    }
  }

  .form-status {
    margin-block: var(--spacing-small);
  }
}
