@scope (.header) {
  :scope {
    display: flow-root; /*  contain child margins */
    padding-inline: var(--spacing-medium);
  }

  h1 {
    margin-block: var(--spacing-medium);
    text-align: center;
    text-wrap: pretty;
    color: var(--tertiary-colour);
  }
}
